:root {
    --background: #161821;
    --block: #26283180;

    --color: #E0E0E0;
    --transparent-color: #E0E0E080;
    --comment: #AFAFCF;
    --transparent-comment: #AFAFCF80;
    --primary: #2677F0;
    --transparent-primary: #2677F080;

    --blur: 15px;
    --radius: .4rem;

    --shadow: 8px 10px 25px rgba(0, 0, 0, .2);
    --primary-shadow-nt: 0 0 10px var(--primary);
    --primary-shadow: 0 0 10px var(--transparent-primary);
    --primary-shadow-up: 0 -5px 10px var(--transparent-primary);
    --primary-shadow-text: 0 0 20px var(--transparent-primary);
    --primary-shadow-h1: 0 0 40px var(--transparent-primary);
}

/* Primary styles of page */
*, *::before, *::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--color);

    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    width: 88vw;
    height: 84vh;
    padding: 8vh 6vw;

    background-color: var(--background);
}

/* Styles for links */
a.link {
    font-weight: 700;
    color: var(--primary);

    transition: .3s linear;
}

a.link:hover {text-shadow: var(--primary-shadow)}

/* Styles for sections */
section {width: 88vw}

/* Styles for text */
h1 {
    font-size: 2.2em;
    font-weight: 800;
}

strong, strong em {
    font-size: 1em;
    font-weight: 700;
    color: var(--primary);
    text-shadow: var(--primary-shadow-text);
}

h1 strong, h1 strong em {
    font-weight: 900;
    text-shadow: var(--primary-shadow-h1);
}

em {font-size: .8em !important}

/* Adaptation [mobile] */
@media screen and (min-width: 300px) and (orientation: portrait) {
    body {
        width: 84vw;
        height: 88vh;
        padding: 4vh 8vw;
    }
}